// views/footer.pug

footer.footer.footer.bg-dark.text-white.mb-3 
  .container
    .row
      .col-md-4
        h5 About Us
        p Your company description goes here.
      .col-md-4
        h5 Contact Information
        ul.list-unstyled
          li Email: logamberkahid@gmail.com
          li Phone: +6281294225855
          li Address: Cimanggis, Depok
      .col-md-4
        h5 Follow Us
        ul.list-inline
          li.list-inline-item
            a(href='#')
              i.fab.fa-facebook
          li.list-inline-item
            a(href='#')
              i.fab.fa-twitter
          li.list-inline-item
            a(href='#')
              i.fab.fa-instagram
          li.list-inline-item
            a(href='#')
              i.fab.fa-linkedin
