section#services.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Mengapa JUAL & BELI Emas Perhiasan di Logam Berkah
            h3.section-subheading.text-muted Selalu mengedepankan syariah didalam transaksi
        .row.text-center
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-hand-holding-dollar.fa-stack-1x.fa-inverse
                h4.my-3 Harga Kompetitif
                p.text-muted
                    | Nikmati harga emas terbaik yang selalu sejalan dengan pasar global, memastikan Anda mendapatkan keuntungan maksimal dalam setiap transaksi.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-truck.fa-stack-1x.fa-inverse
                h4.my-3 Pengiriman Cepat & Aman
                p.text-muted
                    | Emas yang Anda beli akan dikirim dengan cepat dan aman langsung ke lokasi Anda, menggunakan layanan kurir terpercaya yang menjamin pengiriman tepat waktu.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-handshake.fa-stack-1x.fa-inverse
                h4.my-3 Proses Mudah & Cepat
                p.text-muted
                    | Proses jual beli emas kini lebih mudah dan cepat. Cukup beberapa klik, emas Anda langsung siap dibeli atau dijual tanpa ribet.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-rupiah-sign.fa-stack-1x.fa-inverse
                h4.my-3 Transparansi Harga
                p.text-muted
                    | Kami berkomitmen pada transparansi penuh. Harga yang Anda lihat di layar adalah harga final tanpa biaya tambahan tersembunyi.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-lock.fa-stack-1x.fa-inverse
                h4.my-3 Sertifikasi & Keaslian Terjamin
                p.text-muted
                    | Semua emas yang kami tawarkan disertai dengan sertifikat resmi untuk menjamin keaslian dan kualitas, memberikan Anda ketenangan dalam berinvestasi.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-arrow-trend-up.fa-stack-1x.fa-inverse
                h4.my-3 Investasi Aman & Tumbuh
                p.text-muted
                    | Emas adalah pilihan investasi yang cerdas dan aman. Melalui kami, Anda bisa membangun portofolio yang kuat untuk masa depan dengan pertumbuhan yang stabil.